{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method = 'POST'>
    {% csrf_token %}
    <div style = "text-align:center">
        <p>이름</p><input name="name" type="text">
        <p>이메일</p><input name="email" type="text">
        <p>ID</p><input name="username" type="text">
        <p>PW</p><input name="password" type="password">
        <p>PW 확인</p><input name="re_password" type="password">
        <p></p><input type="submit" value="회원가입">
    </div>
</form>
