{% if user.is_authenticated %}
    <div div style = "text-align:right">
        {{ user.username }}님, 반갑습니다
        <a href = "{% url 'mainapp:list' %}">버킷리스트 작성하기</a>
        <a href = "{% url 'mainapp:mypage' %}">마이페이지</a>
        <a href ="{% url 'mainapp:logout' %}">로그아웃</a>
    </div>
    {% if boards %}
        <table>
            <thead>
                <tr>
                    <th>아이디</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                    <tr>
                        <td>{{ board.writer }}</td>
                        <td><a href="{% url 'mainapp:detail' board.board_id %}">{{ board.title }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>작성된 게시글이 없습니다.</p>
    {% endif %}
{% else %}
    <div div style = "text-align:right">
        <a href = "{% url 'accountapp:login' %}">로그인</a>
    </div>
    <div div style = "text-align:center">
        <p>로그인 후 게시판을 이용할 수 있습니다.</p>
    </div>
{% endif %}





